@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
    background-color: white;
    box-shadow: 0 4px 12px black;
    height: 80px;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 20;
    box-sizing: border-box;
}

nav h1{
    font-size: 38px;
}

h1 .bakery{
    color: red;
}

.logo {
  font-family: 'Pacifico', cursive;
  color: black;
  font-size: 32px;
}

.nav-list{
    text-decoration: none;
    margin-left: 20px;
    font-size: 19px;
    color: black;
    transition: 0.3s ease-in-out;
}

.nav-list:hover{
    color: orange;
}

.logout-btn{
    text-decoration: none;
    margin-left: 20px;
    font-size: 19px;
    color: black;
    transition: 0.3s ease-in-out;
}

.logout-btn:hover{
  color: red;
}

.order-button{
    background-color: rgb(194, 131, 15);
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s ease-in-out;
}

.order-button:hover{
    background-color: orange;
}

.dashboard-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    background-color: #ddd;
}

.dashboard-wrapper img{
    height: 80%;
}

.bakery-hero{
    width: 40%
}

.dashboard-info{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.intro{
    position: absolute;
    left: 50%;
    top: 20%;
    transform:translateX(-50%);
    text-align: center;
    color: white;
}

.intro p{
    font-size: 20px;
    color: white
}

.intro h1{
    font-size: 70px;
}

.explore-button{
    background-color: rgb(194, 131, 15);
    padding: 8px 15px;
    color: white;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    transition: 0.3s ease-in-out;
    font-size: 19px;
}

.explore-button:hover{
    background-color: orange;
}

.menu-images-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.menu-images-content{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.menu-images-content img{
    width: 100%;
    max-width: 250px;
    height: 270px;
    border-radius: 5%;
    box-shadow: 0 4px 8px black;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.menu-images-content img:hover{
    transform: scale(1.1);
}

footer{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.687);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.footer-links a{
    text-decoration: none;
    color: white; 
    margin-left: 17px;
    transition: 0.3s ease-in-out;
}

.footer-links a:hover{
    color: orange;
}

.social-media-links img{
    width: 20x;
    height: 20px;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 5px;
}

.hamburger{
    display: none;
}

#nav-links.active{
    display: flex;
}

.input-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-form form{
    background-color: #fff;
    padding: 30px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.687);
    border-radius: 10px;
    margin: 0 auto;
}

.input-form .input-order{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.input-form .order-btn{
    display: flex;
    justify-content: center;
}

.input-form form input{
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 17px;
}

.input-form form input[type="submit"]{
    background-color: rgb(194, 131, 15);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 50%;
    transition: 0.3s ease-in-out;
}

.input-form form input[type="submit"]:hover{
    background-color: orange;
}

.input-form form h1{
    text-align: center;
}

.order-wrapper{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
    background-color: #ddd;
    padding: 20px;
}

.order-wrapper .food-category{
    max-width: 480px;   
}
.order-wrapper .food-category img{
    height: 200px;
    width: 200px;
    border-radius: 5%;
}

.img-category{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.button-category{
  margin-bottom: 15px;
}
.button-category button{
    background-color: #fff;
    color: black;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.687);
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    width: 80px;
    position: relative;
}

.button-category button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left:0;
    height: 3px;
    width: 100%;
    background-color: orange;
    transform: scaleX(0);
    transform-origin: left;
    transition: ease-in-out 0.3s;
}

.button-category button:hover::after{
  transform: scaleX(1);
}

@media screen and (max-width: 760px) {
  #nav-links{
    color: white;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 85px;
    padding: 20px;
    background-color: #fff;
    width: 100px;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .nav-list{
    margin: 0 0 20px 0;
  }

  .order-button{
    display: none;
  }

  .hamburger{
    display: block;
    cursor: pointer;
    position: fixed;
    left: 5%;
    top: 5%;
    z-index: 50;

  }

  nav h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }

  .menu-images-content img{
    width: 100px;
    height: 100px;
  }

  .dashboard-info img{
    width: 150px;
    height: 150px;
  }

  .dashboard-info{
    display: flex;
    flex-direction: column;
  }

  .menu-images-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .intro{
    position: absolute;
    top: 10%;
  }
  
  .order-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .input-form form{
    padding: 5px;
  }

  .input-form form input{
    font: 10px;
  }

  .intro p{
    color: black;
  }

  .bakery-hero{
    display:none;
  }
  
  .food-category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .food-category .img-category img{
    width: 100px;
    height: 100px;
  }

  .input-form form input{
    padding: 8px
  }

  .input-form{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-form form{
    padding: 10px;
  }

  .input-form .input-order{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
  
}