<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1><span class="logo">Queeny's </span> <span class="bakery">Bakery</span></h1>
        <div id="nav-links">
            <a href="#home" class="nav-list">Home</a>
            <a href="#menu" class="nav-list">Menu</a>
            <a href="#" class="nav-list">About</a>
            <a href="#" class="order-button">Order Now</a>
        </div>
    </nav>
    <div class="hamburger" id="hamburger">
        &#9776;
    </div>

    <section class="intro">
        <h1>Welcome to Queeny’s Bakery</h1>
        <p>Where every bite tells a story. From our kitchen to your table, we bake with love and the finest ingredients to bring you the taste of home in every slice.</p>
        <button class="explore-button">View Menu</button>
    </section>


    <div class="dashboard-wrapper" id="home">
        <div class="dashboard-info">
            <img src="src/images/pic3.png">
            <img src="src/images/pic1.png">
            <img src="src/images/pic5.png" alt="Bakery Display" class="bakery-hero">
        </div>
    </div>

    <div class="menu-images-wrapper" id="menu">
        <h1 style="text-align: center">Menu</h1><br>
        <div class="menu-images-content">
            <img src="src/images/cake.jpg">
            <img src="src/images/lasagna.jpg">
            <img src="src/images/pine.jpg">
            <img src="src/images/donut.jpg">
            <img src="src/images/redvelvet.jpg">
            <img src="src/images/float.jpg">
            <img src="src/images/choco.jpg">
            <img src="src/images/mangofloat.jpg">
        </div>
    </div>

    <div>
        <div>

        </div>
    </div>

</body>
<footer>
    <div class="social-media-links">
         <img src="src/images/tik-tok.png">
         <a href="https://www.facebook.com/queen.canama.5" target="_blank">
            <img src="src/images/facebook.png">
         </a>
         <img src="src/images/youtube.png">
         <img src="src/images/instagram.png">
    </div>
    <div class="footer-links">
        <a href="#">Home</a>
        <a href="#">About </a>
        <a href="#">Contact</a>
        <a href="#">News</a>
    </div>
    <p>Copyright ©2022; Designed by John Aries Rizada</p>
</footer>

<script src="/script/script.js">
</script>
</html>